<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elkinprogramador.finapp2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Finapp2"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".QuestionMessageFinal"
            android:exported="true" />
        <activity
            android:name=".QuestionPlay5"
            android:exported="true" />
        <activity
            android:name=".QuestionPlay4"
            android:exported="true" />
        <activity
            android:name=".QuestionPlay3"
            android:exported="true" />
        <activity
            android:name=".QuestionPlay2"
            android:exported="true" />
        <activity
            android:name=".QuestionPlay"
            android:exported="true" />
        <activity
            android:name=".FinanceProfile7"
            android:exported="true" />
        <activity
            android:name=".FinanceProfileResult"
            android:exported="true" />
        <activity
            android:name=".FinanceProfile6"
            android:exported="true" />
        <activity
            android:name=".FinanceProfile5"
            android:exported="true" />
        <activity
            android:name=".FinanceProfile4"
            android:exported="true" />
        <activity
            android:name=".FinanceProfile3"
            android:exported="true" />
        <activity
            android:name=".FinanceProfile2"
            android:exported="true" />
        <activity
            android:name=".FinanceProfile"
            android:exported="true" />
        <activity
            android:name=".SelectionPlay"
            android:exported="true" />
        <activity
            android:name=".InvestmentProfile"
            android:exported="true" />
        <activity
            android:name=".MainPage"
            android:exported="true" />
        <activity
            android:name=".Pruebaaaaaa"
            android:exported="true"
            android:label="@string/title_activity_pruebaaaaaa"
            android:theme="@style/Theme.Finapp2.NoActionBar" />
        <activity
            android:name=".Prueba2"
            android:exported="true"
            android:label="@string/title_activity_prueba2"
            android:theme="@style/Theme.Finapp2.NoActionBar" />
        <activity
            android:name=".prueba"
            android:exported="true"
            android:label="@string/title_activity_prueba"
            android:theme="@style/Theme.Finapp2.NoActionBar" />
        <activity
            android:name=".ZoomImage"
            android:exported="true" />
        <activity
            android:name=".ViewWord"
            android:exported="true" />
        <activity
            android:name=".Glossary"
            android:exported="true" />
        <activity
            android:name=".Register"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>